<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sunfield.daotian.mysplash">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".guide.GuideActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".tabmain.TabMainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".moretab.MoreTabActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".moretab.MoreTab2Activity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".spring.SpringActivity"
            android:label="@string/title_activity_spring" />
        <activity
            android:name=".year.YearActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".SingleTabActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".BannerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
    </application>

</manifest>